<section class="myservices">
    <h1>MY <strong>SERVICES</strong></h1>
    <div class="services">
<div class="web">
    <img src="../../../../assets/icon-responsive.svg" alt="web"/>
    <h1>WEB DESIGN</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed venenatis lectus tortor et congue felis laoreet ac</p>
</div>
<div class="development">
    <img src="../../../../assets/icon-email.svg" alt="development"/>
    <h1>DEVELOPMENT</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed venenatis lectus tortor et congue felis laoreet ac</p>
</div>
<div class="graphic">
    <img src="../../../../assets/icon-lock.svg" alt="graphic"/>
    <h1>GRAPHIC DESIGN</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed venenatis lectus tortor et congue felis laoreet ac</p>
</div>
<div class="responsive">
    <img src="../../../../assets/icon-easy.svg" alt="responsive"/>
    <h1>RESPONSIVE DESIGN</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed venenatis lectus tortor et congue felis laoreet ac</p>
</div>
<div class="marketing">
    <img src="../../../../assets/service-icon-bg.svg" alt="marketing"/>
    <h1>MARKETING</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed venenatis lectus tortor et congue felis laoreet ac</p>
</div>
<div class="support">
    <img src="../../../../assets/icon-responsive.svg" alt="support"/>
    <h1>SUPPORT</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed venenatis lectus tortor et congue felis laoreet ac</p>
</div>
    </div>
</section>
