/* You can add global styles to this file, and also import other style files */
body{
    margin: 0px;
    font-family: 'Poppins', sans-serif;
    background-color: #000;
    
  

}
.rowResponsive{
    width: 80%;


}
.row{
    width: 100%;
    display: flex;
    justify-content: center;
  
}